
.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.db {
    display: block;
}
.red {
    color:red;
}

.red-more {
    color: #B5000D;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    background-image: url(../image/bg_top.png);
    background-repeat: repeat-x;
    background-color: #f4f4f3;
    color:#655e54;
}
a {
    text-decoration:none;
}

.bg {
    width: 458px;
    height: 292px;
    margin-top: 526px;
    background-repeat: no-repeat;
     z-index: 0;
}
 .bg img {
        width:100%;
        height:100%;
}



.nav {
    width: 1000px;
    margin: 0px auto;
    height: 126px;
    z-index: 10;
    background-image: url(../image/log.png);
    background-position-y: 31px;
    background-position-x: 19px;
    background-repeat: no-repeat;
}

.menu-container {
    width: 660px;
    height: 62px;
    padding-top: 50px;
    margin-left: 348px;
}


.menu {
    width: 92px;
    height: 25px;
    font-size: 16px;
    font-weight: 600;
    color:#95908d;      
    text-align:center;
    line-height:25px;
    padding-top:5px;
    padding-bottom:5px;
    cursor:pointer;
    position:relative;
}
.menu:hover .sub-menu-container {
    display:block;
}

.sub-menu-container {
     display:none;
     position:absolute;
     margin:0px;
     padding:0px 0px 0px 10px;
     width:500px;
}
.sub-menu {
    width:67px;
    height:22px;
    margin:5px 0px 0px 3px;
    text-align:center;
    font-size:12px;
    font-weight:normal;
    line-height:22px;
    color:white;
    background-color:#5d5d5d;
}
.sub-menu:hover {
     /*margin-top:0px;
     padding-top:5px;
     height:27px;*/
     /*background-image: url(../image/sub-menu-hover.png);*/
     /*background-repeat: no-repeat;*/
     background-color:#ad9f85;
}

.line {
         border-right:1px solid #99918d;
         display:block;
         float:right;
         width:1px;
         height:12px;
         margin:6px 0px 6px 0px;
         padding:0px;
    }

.banner {
    width:100%;
    height:398px;
    background-color:gray;
    position:absolute;
    top:130px;
}
.banner img {
     width:100%;
    height:100%;
}


.content-container {
    position:absolute;
    top:528px;
    width:100%;
}

.content {
    width:1000px;
    margin: 0px auto;
}
.introduced-container {
    background-color:#ece9e4;
    width:292px;
    height:266px;
    border-bottom:3px solid #ad9f85;
    padding-top:18px;
}

.introduced-title {
    width:292px;
    height:65px;
    background-image: url(../image/introduced_title.png);
    background-repeat: no-repeat;
}
.introduced-content {
    padding:15px 17px 10px 17px;
    text-indent:2em;
     line-height:24px;
}
.introduced-more {
    text-align:right;
    color:#B5000D;
}

.notice-container {
    padding-left:32px;
    width:391px;
    height:287px;
}


.notice-title {
    width:391px;
    height:40px;
    padding-top:32px;
    background-image: url(../image/notice-bottow.png);
    background-repeat: repeat-x;
    background-position-y:64px;
    
}
.notice-title .notice-text {
    width:99px;
    height:26px;
    background-image: url(../image/notice-title.png);
    background-repeat: no-repeat;
    font-size:14px;
    color:white;
    padding:5px 0px 0px 15px;
}

.notice-title .notice-more {
    background-image: url(../image/more.png);
    background-repeat: no-repeat;
    background-position:25px 11px;
    height:31px;
    line-height:31px;
    padding-right:10px;
    cursor:pointer;
}

.notice-title .active-communication {
    width:99px;
    height:26px;
    font-size:14px;
    padding:5px 0px 0px 15px;
}

.notice-content {
    width:391px;
    height:212px;
}

.notice-content .notice-line {
     width:373px;
     padding:18px 18px 0px 7px;
}
.notice-content .notice-line .notice-content-title {
    padding-left:5px;
    overflow:hidden;
    cursor:pointer;
}